@{
    ViewData["Title"] = "Admin";
}
<h2>@ViewData["Title"]</h2>

<body>

    <ul class="nav">
        <li>
            <a href="/Home/EditName">  <input type="button" value="Edit Name(s)" name="EditName"> </a>
            
        </li>
        <li>
            <a href="/Home/EditPrice">  <input type="button" value="Edit Price(s)" name="EditPrice"> </a>
            
        </li>
        <li>
            <a href="/Home/Add">  <input type="button" value="Add" name="Add"> </a>
        </li>
    </ul>

</body>
